!!!5
html
  head
    script(language="javascript" type="text/javascript" src="js/jquery.min.js")
    <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="js/excanvas.min.js"></script><![endif]-->
    script(language="javascript" type="text/javascript" src="js/jquery.flot.min.js")
    script(language="javascript" type="text/javascript" src="js/jquery.flot.time.min.js")
    != js('plot')
    != css('style')
  body
    #placeholder
