#placeholder
  width: 1000px
  height: 480px

.label
  min-width: 20em
  display: inline-block

input[type="submit"]
  margin-top: 1em

h2
  margin-bottom: 0.1em

.description
  font-style: italic

.content
  margin-top: 1em

#tooltip
  position: absolute
  background-color: #f7f7f7
  opacity: 0.8
  padding: 0.2em
  border: 1px solid #ddd
  margin-top: -3em

  #date
    font-size: 80%
