.placeholder
  width: 1000px
  height: 480px
  margin-bottom: 1em

.label
  min-width: 20em
  display: inline-block

input[type="submit"]
  margin-top: 1em

h2
  margin-bottom: 0.1em

.description
  font-style: italic
  margin-bottom: 1em

#tooltip
  position: absolute
  background-color: #f7f7f7
  opacity: 0.8
  padding: 0.2em
  border: 1px solid #ddd
  margin-top: -3em

  #date
    font-size: 80%

.entry
  margin-bottom: 1.5em
  background-color: #eee
  padding: 0.2em
  border-width: 1px
  border-style: solid
  border-color: #ccc

  .date
    font-size: 80%
    font-style: italic
    margin-bottom: 0.4em

  .text
    margin-top: 0
    margin-bottom: 0
